#outside {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-origin: 0;
    background: url("open.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.open-card {
    transform: rotateY(90deg);
}

#outside-title {
    color: black;
    font-family: Courier;
    font-size: 12pt;
    text-align: center;
}

#outside-pic {
    width: 150px;
    height: 150px;
}

#outside-help {
    color: black;
    font-family: Courier;
    font-size: 24pt;
    text-align: center;
    padding: 20px;
}

#inside {
    z-index: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

#inside-title {
    margin-left: auto;
    margin-right: auto;
    color: gold;
    font-size: 24pt;
    text-align: center;
}

.robo {
    font-family: 'Press Start 2P', cursive;
}

#inside-pic {
    height: 400px;
    width: 400px;
}

#message {
    color: black;
    font-family: Courier;
    font-size: 24pt;
    text-align: center;
}

button {
    background: silver;
    margin: 0px auto
}


body {
    background: url("open.jpg");
}

.button-visible {
    background: none;
    border: none !important;
    font-size: 40pt;
    color: red;
}

.button-invisible {
    width: 200px;
    height: 200px;
    background: black;
    border: black;
    font-size: 0;
}

#name {
    font-size: 50pt;
}
